<h1>Training</h1>

<form action="/upload_tag" method="post" enctype="multipart/form-data">
    <h2>1. Upload Images</h2>
    <input type="file" name="pics[]" accept="image/*"><br />
    <input type="file" name="pics[]" accept="image/*"><br />
    <input type="file" name="pics[]" accept="image/*"><br />
    <input type="file" name="pics[]" accept="image/*"><br />

    <h2>2. Set Tag</h2>
    <input type="text" name="tag"><br /><br />

    <input type="submit">
</form>

<a href="#" id="upload_widget_opener">Upload multiple images</a>
